*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5;
    position: relative;
}

body{
    box-sizing: border-box;
    position: relative;
    background: $color-primary-background;
    font-family: 'Josefin Sans', sans-serif;
}

a{
    text-decoration: none;
}

.content-body{
    position: relative;
    
}

.backdrop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 10;
}

