$color-primary-background: #f7f7f7;
$color-primary-text: #343a40;
$color-primary-white: #ffffff;
$color-primary-dark: #373737;
$color-primary-dark-2: #121212;
$color-secondary-blue: #5CBDE2;
$color-secondary-blue-dark: #5196A6;
$color-accent-pink: #F2594B
